# ***Data Types***
- In programming, data type is an important concept.

- Variables can store data of different types, and different types can do different things.

- In R, variables do not need to be declared with any particular type, and can even change type after they have been set.

## ***Basic Data Types***
Basic data types in R can be divided into the following types:

- `numeric` - (10.5, 55, 787)
- `integer` - (1L, 55L, 100L, where the letter "L" declares this as an integer)
- `complex` - (9 + 3i, where "i" is the imaginary part)
- `character` (a.k.a. string) - ("k", "R is exciting", "FALSE", "11.5")
- `logical` (a.k.a. boolean) - (TRUE or FALSE)
  
We can use the class() function to check the data type of a variable:

In [1]:
my_var <- 30   # numeric

In [2]:
class(my_var)

[1] "numeric"

In [3]:
my_var <- "khushboo12"  # character

In [4]:
class(my_var)

[1] "character"

In [5]:
int <- 2L # integer

In [6]:
class(int)

[1] "integer"

In [7]:
complex <- 9 + 2i

In [8]:
class(complex)

[1] "complex"

In [9]:
logical_boolean <- TRUE

In [10]:
class(logical_boolean)

[1] "logical"

In [11]:
logical_False <- FALSE
logical_False

[1] FALSE

In [12]:
logical_true <- TRUE
logical_true

[1] TRUE

In [13]:
class(logical_true)

[1] "logical"

## **Numbers**
There are three number types in R:

- numeric
- integer
- complex
  
Variables of number types are created when you assign a value to them:

In [1]:
x <- 10.5   # numeric
y <- 10L    # integer
z <- 1i     # complex

### **Numeric**
A numeric data type is the most common type in R, and contains any number with or without a decimal, like: 10.5, 55, 787:

In [2]:
x <- 10.5
y <- 55

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 10.5

[1] 55

[1] "numeric"

[1] "numeric"

### ***Integer***
Integers are numeric data without decimals. This is used when you are certain that you will never create a variable that should contain decimals. To create an integer variable, you must use the letter L after the integer value:

In [4]:
x <- 1000L
y <- 55L

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 1000

[1] 55

[1] "integer"

[1] "integer"

### ***Complex***
A complex number is written with an "i" as the imaginary part:

In [5]:
x <- 3+5i
y <- 5i

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 3+5i

[1] 0+5i

[1] "complex"

[1] "complex"

### ***Type Conversion***
You can convert from one type to another with the following functions:

- as.numeric()
- as.integer()
- as.complex()

In [6]:
x <- 1L # integer
y <- 2 # numeric

# convert from integer to numeric:
a <- as.numeric(x)

# convert from numeric to integer:
b <- as.integer(y)

# print values of x and y
x
y

# print the class name of a and b
class(a)
class(b)

[1] 1

[1] 2

[1] "numeric"

[1] "integer"

In [12]:
x <- 2L
y <- as.numeric(x)
class(y)
class(x)

[1] "numeric"

[1] "integer"