## ***R Functions***

- A function is a block of code which only runs when it is called.

- You can pass data, known as parameters, into a function.

- A function can return data as a result.

### ***Creating a Function***

To create a function, use the function() keyword

In [3]:
my_function <- function() {
    print("Hello world")
}

### ***Call a Function***
To call a function, use the function name followed by parenthesis, like my_function().

In [5]:
my_function()

[1] "Hello world"

### ***Arguments***

- Information can be passed into functions as arguments.

- Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [6]:
my_function <- function(a,b) {
    print(a+b)
}

In [7]:
my_function(2,3)

[1] 5

In [13]:
my_function <- function(name,salary) {
    print(paste("Employee Name: ",name))
    print(paste("Employee Salary: ",salary))
}

In [16]:
my_function("Shanzy","100000")

[1] "Employee Name:  Shanzy"
[1] "Employee Salary:  100000"

In [17]:
my_function <- function(fname) {
  paste(fname, "Griffin")
}

my_function("Peter")
my_function("Lois")
my_function("Stewie")

[1] "Peter Griffin"

[1] "Lois Griffin"

[1] "Stewie Griffin"

### ***Default Parameter Value***

- The following example shows how to use a default parameter value.

- If we call the function without an argument, it uses the default value,

In [19]:
my_function <- function(country = "Norway") {
  paste("I am from", country)
}

my_function("Sweden")
my_function("India")
my_function() # will get the default value, which is Norway
my_function("USA")

[1] "I am from Sweden"

[1] "I am from India"

[1] "I am from Norway"

[1] "I am from USA"

### ***Return Values***

To let a function return a result, use the return() function.

In [20]:
my_function <- function(x) {
  return (5 * x)
}

print(my_function(3))
print(my_function(5))
print(my_function(9))

[1] 15
[1] 25
[1] 45