## Variable in R

**In R, you define a variable by assigning a value to a name (the variable) using the assignment operator (<- or =). Here's an explanation of how to define variables in R:**

- `<-` is the most common assignment operator in R (although `=` works too).

- variable_name is the name you give to your variable.

- value is the data or object you want to assign to the variable.

In [1]:
name <- "khushboo Saleem"
Age <- 25
Fav_fruit <- "Pizza"
name
Age
Fav_fruit

[1] "khushboo Saleem"

[1] 25

[1] "Pizza"

In [2]:
name1 = "khushboo Saleem"
Age1 = 25
Fav_fruit1 = "Pizza"
name1
Age1
Fav_fruit1

[1] "khushboo Saleem"

[1] 25

[1] "Pizza"

## Concatenation

- You can also concatenate, or join, two or more elements, by using the `paste()` function.

- To combine both text and a variable, R uses comma `(,)`:

In [3]:
text <- "Awesome"
paste("R is ",text)

[1] "R is  Awesome"

In [4]:
text1 <- "R is"
text2 <- "Awesome"
paste(text1,text2)

[1] "R is Awesome"

**For numbers, the + character works as a mathematical operator:**

In [5]:
num1 <- 5
num2 <- 5
num1+num2

[1] 10

**If you try to combine a string (text) and a number, R will give you an error:**

In [6]:
# num <- 5
# text <- "Awesome"
# num + text

## Multiple Variables
- R allows you to assign the same value to multiple variables in one line:

In [7]:
# Assign the same value to multiple variables in one line
var1 <- var2 <- var3 <- "Orange"

# print multiple variable
var1
var2
var3

[1] "Orange"

[1] "Orange"

[1] "Orange"

In [8]:
# Legal variable names:
myvar <- "John"
my_var <- "John"
myVar <- "John"
MYVAR <- "John"
myvar2 <- "John"
.myvar <- "John"

# # Illegal variable names:
# 2myvar <- "John"
# my-var <- "John"
# my var <- "John"
# _my_var <- "John"
# my_v@ar <- "John"
# TRUE <- "John"